
body {
    background: url(basketball.jpg);
    background-size: cover;
}

.pages {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
a {
    color: white;
}